[user]
	name = leoplutos
	email = lchtata@163.com
[gui]
	encoding = utf-8
	recentrepo = D:/WorkSpace/Git/tecnote
	fontui = -family \"Cascadia Code\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Cascadia Code\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
[color]
	ui = true
[guitool "执行pull"]
	cmd = git pull
[core]
	autoCRLF = false

[diff]
    tool = winmerge
[difftool]
    prompt = false
[difftool "winmerge"]
    name = WinMerge
    trustExitCode = true
#    cmd = "/d/Tools/WorkTool/Text/WinMerge-2.16.30-x64/WinMergeU.exe" -u -e $LOCAL $REMOTE
#    cmd = "/d/Tools/WorkTool/Text/WinMerge-2.16.30-x64/WinMergeU.exe" -e -ub -dl "Base" -dr "Mine" $LOCAL $REMOTE
#    cmd = "/d/Tools/WorkTool/Text/WinMerge-2.16.30-x64/WinMergeU.exe" -r -ub -dl "Remote" -dr "Local" $LOCAL $REMOTE
    cmd = "/d/Tools/WorkTool/Text/WinMerge-2.16.30-x64/WinMergeU.exe" -e -r -u -x -wl -wr -dl \"Remote-/$MERGED\" -dr \"Local-/$MERGED\" \"$LOCAL\" \"$REMOTE\"

[merge]
    tool = winmerge
[mergetool]
    prompt = false
    keepBackup = false
    keepTemporaries = false
[mergetool "winmerge"]
    name = WinMerge
    trustExitCode = true
#    cmd = "/d/Tools/WorkTool/Text/WinMerge-2.16.30-x64/WinMergeU.exe" -u -e -fm -wl -dl "Local" -wr -dr "Remote" $LOCAL $MERGED $REMOTE
    cmd = "/d/Tools/WorkTool/Text/WinMerge-2.16.30-x64/WinMergeU.exe" -e -u -fr -ar -wl -wm -dl \"Base File\" -dm \"Theirs File\" -dr \"Mine File\" \"$BASE\" \"$REMOTE\" \"$LOCAL\" -o \"$MERGED\"
