CompileFlags:
    Add: 
      [
        -xc,
        -Wno-documentation,
        -Wno-missing-prototypes,
      ]
    #Remove: -W*
    Compiler: gcc

Diagnostics:
  ClangTidy:
    Add: ["*"]
    Remove:
      [
        abseil*,
        fuchsia*,
        llvmlib*,
        zircon*,
        altera*,
        google-readability-todo,
        readability-braces-around-statements,
        hicpp-braces-around-statements,
        modernize-use-trailing-return-type,
      ]

Index:
  Background: Build

InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
