<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_HOME" value="D:/logs" />

	<!--禁用启动时的 Logback 状态消息-->
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%black([%d{yyyy-MM-dd HH:mm:ss.SSS}]) %highlight(%level) [%t]%cyan([%C{0}:%line]) - %msg%n%throwable
			</Pattern>
		</layout>
	</appender>

	<!--
	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/SpringBootConsole.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/archived/SpringBootConsole-%d{yyyy-MM-dd}_%i.log.gz</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level [%t][%C{0}:%line] - %msg%n%throwable</Pattern>
		</encoder>
	</appender>
	-->

	<!-- LOG everything at INFO level -->
	<root level="info">
		<appender-ref ref="Console" />
		<!--
		<appender-ref ref="RollingFile" />
		-->
	</root>

	<!-- LOG "ch.qos.logback*" at WARN level -->
	<logger name="ch.qos.logback" level="warn" additivity="false">
		<appender-ref ref="Console" />
		<!--
		<appender-ref ref="RollingFile" />
		-->
	</logger>

</configuration>
