<?xml version="1.0" encoding="UTF-8" ?>
<!-- 容器环境用，为了采集方便采用结构化日志 -->
<configuration status="warn" monitorInterval="5">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<JsonLayout compact="true" locationInfo="true" complete="false" eventEol="true">
				<!-- 自定义json项目 -->
				<KeyValuePair key="service_name" value="${ctx:service_name}"/>
			</JsonLayout>
		</Console>
	</Appenders>

	<Loggers>
		<!-- 过滤io.netty的日志 -->
		<Logger name="io.netty" level="warn" additivity="false" includeLocation="true">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="io.grpc.netty" level="warn" additivity="false" includeLocation="true">
			<AppenderRef ref="Console"/>
		</Logger>
		<Root level="debug" includeLocation="true">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</configuration>
