::deep .ant-layout {
	min-height: 100vh;
	display: flex;
}

::deep .ant-layout-header {
	background: #fff;
	padding: 0 24px;
	display: flex;
	align-items: center;
	box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
	z-index: 10;
}

::deep .site-page-header {
	padding-bottom: 0;
}

::deep .ant-page-header {
	padding: 2px 2px;
}

::deep .ant-layout-sider {
	flex: 1;
	background: #fff;
	box-shadow: 2px 0 8px 0 rgba(29, 35, 41, .05);
	margin-top: 5px;
	margin-right: 5px;
	border-radius: 4px;
	/*height: calc(100vh - 3.5rem);*/
	overflow-y: auto;
}

::deep .ant-layout-content {
	flex: 1;
	margin: 5px 5px 5px 0;
	padding: 24px;
	background: #fff;
	border-radius: 4px;
	overflow-y: auto;
}

::deep .ant-layout-footer {
	text-align: center;
	padding: 14px 20px;
	color: rgba(0, 0, 0, .45);
}

::deep .ant-space {
	display: inline-flex;
	align-items: baseline;
}

::deep .header-icon {
	font-size: 24px;
}

::deep a {
	text-decoration: none;
}

::deep .nav-text {
	text-decoration: none;
}
