<html>

<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/style.css" />
	<script src="js/main.js"></script>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<h1>这是header.mustache</h1>
	<hr />
